<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/js/jquery.min.js"></script>
    <!-- 引入bootstrap的css、js -->
    <link href="/js/bootstrap-table/bootstrap-table.css">
    <script type="text/javascript" src="/js/bootstrap-table/bootstrap-table.js"></script>
    <script src="/js/bootstrap-bootbox/bootbox.js"></script>
    <link rel="stylesheet" href="/bootstrap3/css/bootstrap.css">
    <script type="text/javascript" src="/bootstrap3/js/bootstrap.js"></script>
    <script src="/js/bootstrap-treeview/bootstrap-treeview.min.js"></script>
    <script src="/js/bootStrap-addTabs/bootstrap.addtabs.min.js"></script>
    <link rel="stylesheet" href="/js/bootStrap-addTabs/bootstrap.addtabs.css">



</head>
<body>
<!--数据栏目顶部列表-->

<!-- 内容布局容器 -->
<div class="container" style="margin-top: 59px;">
    <div class="row">
        <div class="col-md-2">
            <li style="background-color:#28aadc;">
                <a href="">
                    <img src="http://www.xb1y.com/Public/qiantai/images/dataimg_03.png">
                    <p class="btn btn-default"><font color="#40e0d0">中标数据药品库</font> </p>
                </a>
            </li>
        </div>
        <div class="col-md-2">
            <li style="background-color:#219fd0;">
                <a href="">
                    <img src="http://www.xb1y.com/Public/qiantai/images/dataimg_05.png">
                    <p>药店、诊所大全 </p>
                </a>
            </li>
        </div>
        <div class="col-md-2">
            <li style="background-color:#1b93c1;">
                <a href="">
                    <img src="http://www.xb1y.com/Public/qiantai/images/dataimg_07.png">
                    <p>医院大全</p>
                </a>
            </li>
        </div>
        <div class="col-md-2">
            <li style="background-color:#dc7316;">
                <a href="">
                    <img src="http://www.xb1y.com/Public/qiantai/images/zhaoshangdown.png">
                    <p>招商信息下载</p>
                </a>
            </li>
        </div>
        <div class="col-md-2">
            <li style="background-color:#e3812b;">
                <a href="">
                    <img src="http://www.xb1y.com/Public/qiantai/images/dataimg_09.png">
                    <p>资质下载</p>
                </a>
            </li>
        </div>
        <div class="col-md-2">
            <li style="background-color:#ef9545;">
                <a href="">
                    <img src="http://www.xb1y.com/Public/qiantai/images/dataimg_11.png">
                    <p>国药会展资料下载</p>
                </a>
            </li>
        </div>
    </div>
    <div class="col-md-12">
        <div id="drugTable" ></div>
    </div>
</div>



</body>
<script>
   $(function () {
       initMyTable();
   })
   //查询用户数据
   function initMyTable(){
       $("#drugTable").bootstrapTable({
           url:"/drug/findDrugList",
           pagination:true,
           pageList:[5,10,15,20],
           pageNumber:1,
           pageSize:5,
           //search:true,//是否显示搜索框
           //searchText:'试试',//初始化搜索文字
           showColumns:false,//是否显示 内容列下拉框
           showToggle:false,//是否显示 切换试图（table/card）按钮
           showPaginationSwitch:false,//是否显示 数据条数
           sidePagination: "server",// 服务端分页
           showRefresh:false,//是否显示刷新按钮
           detailView:false,//设置为 true 可以显示详细页面模式。
           showFooter:false,//是否显示列脚
           clickToSelect: true, //是否启用点击选中行
           striped:true,//斑马线
           queryParams:function(){
              return{
                 page:this.pageNumber,
                 rows:this.pageSize,
              }
           },

           columns:[
               [
               {field:'id',title:"主键ID"},
               {field:'drugId',title:'药品编号'},
               {field:'drugName',title:'药品名称'},
               {field:'drugForm',title:'剂型'},
               {field:'drugChara',title:'药品特征'},
               {field:'specification',title:'规格'},
               {field:'conversion',title:'转换系数'},
               {field:'unit',title:'单位'},
               {field:'packingUnit',title:'包装单位'},
               {field:'directoryType',title:'目录类型'},
               {field:'manEnterprise',title:'生产企业'},
               {field:'shoEnterprise',title:'入围企业'},
               {field:'price',title:'采购价格'},
               {field:'retail',title:'临时零售'}
                ]

           ]
       })
   }
</script>
</html>