<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


    <link rel="stylesheet" href="/files/common.css">
    <link rel="stylesheet" href="/files/css.css">
    <script src="/资讯平台_files/
-2.2.0.min.js"></script>
    <script src="/files/layer.js"></script><link rel="stylesheet" href="/files/layer.css" id="layui_layer_skinlayercss" style="">
    <!--[if lt IE 9]>
    <script src="/Public/houtai/bootstrap/js/html5shiv.min.js"></script>
    <script src="/Public/houtai/bootstrap/js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut  icon" type="image/x-icon" href="http://www.xb1y.com/index.php/Home/Information/favicon.ico" media="screen">


    <link rel="stylesheet" href="/files/common.css">
    <link rel="stylesheet" href="/files/navregister.css">

    <script src="/js/jquery.min.js"></script>
    <link rel="stylesheet" href="/js/bootstrap-table/bootstrap-table.css">
    <script src="/js/bootstrap-table/bootstrap-table.js"></script>
    <link rel="stylesheet" href="/bootstrap3/css/bootstrap.css">
    <script src="/bootstrap3/js/bootstrap.js"></script>
    <script src="/js/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>
    <script src="/js/bootstrap-bootbox/bootbox.js"></script>

</head>


<body>
<style>
    .xb-rightbox{width:50px;height:655px;position: fixed;right:0;top:15%;background: #377bee;border-radius: 5px;padding:0 2.5px;box-sizing:border-box;color:#fff;text-align:center;}
    .xb-right_list{color:#fff;margin-top:50px;}
    .xb-right_list img{width:36px;}
    .xb-qq{margin:5px auto;width:20px;height:20px;border-radius:50%;background:#ff5a00;line-height:20px;font-size:12px;}
</style>

<div class="logobox" style="overflow:initial;height:120px;">
    <div class="logoimg">
        <a href="http://192.168.1.125:8010/page/toShouye">
            <img src="/img/index_03.png" width="303" height="125">
        </a>
    </div>
</div>


<div class="content-wrapper">
    <section class="content-header">
    </section>
    <div class="content">

        <!--位置导航-->
        <div class="location-now">
            <div class="location-text">
                <img src="http://www.xb1y.com/Public/qiantai/images/compang_03.png">
                当前位置： 首页 >  数据中心 > 医院大全
            </div>
        </div>
        <!--数据中心-->
        <div class="databig-box">
            <!--数据栏目顶部列表-->
            <div class="info-box">
                <ul class="data-top-list">
                    <li style="background-color:#28aadc;">
                        <a href="http://192.168.1.116:8082/page/toDrugPage">
                            <img src="http://www.xb1y.com/Public/qiantai/images/dataimg_03.png">
                            <p>中标数据药品库 </p>
                        </a>
                    </li>
                    <li style="background-color:#219fd0;">
                        <a href="http://192.168.1.116:8082/page/toDrugStorePage">
                            <img src="http://www.xb1y.com/Public/qiantai/images/dataimg_05.png">
                            <p>药店/诊所大全 </p>
                        </a>
                    </li>
                    <li style="background-color:#1b93c1;">
                        <a href="http://192.168.1.116:8082/page/toHospitalPage">
                            <img src="http://www.xb1y.com/Public/qiantai/images/dataimg_07.png">
                            <p>医院大全</p>
                        </a>
                    </li>
                    <li style="background-color:#dc7316;">
                        <a href="http://192.168.1.116:8082/page/toAttractPage">
                            <img src="http://www.xb1y.com/Public/qiantai/images/zhaoshangdown.png">
                            <p>招商信息下载</p>
                        </a>
                    </li>
                    <li style="background-color:#e3812b;">
                        <a href="http://192.168.1.116:8082/page/toDrugAptitudePage">
                            <img src="http://www.xb1y.com/Public/qiantai/images/dataimg_09.png">
                            <p>资质下载</p>
                        </a>
                    </li>

                    <li style="background-color:#ef9545;">
                        <a href="http://192.168.1.116:8082/page/toConventionPage">
                            <img src="http://www.xb1y.com/Public/qiantai/images/dataimg_11.png">
                            <p>国药会展资料下载</p>
                        </a>
                    </li>
                </ul>
            </div>
<!--医院条查-->
            <div id="toolbar">
<form id="hospitalForm" class="form-inline">
    <div class="form-group">
        <label for="hospitalName">医院名称:</label>
        <input type="text" class="form-control" id="hospitalName" placeholder="请输入医院名称">
    </div>

    <div class="form-group">
        <label for="site">所在地区</label>
        <select id="site" class="form-control">
            <option value="0">请选择</option>
            <option value="北京市">北京市</option>
            <option value="天津市">天津市</option>
            <option value="河北省">河北省</option>
            <option value="山西省">山西</option>
            <option value="内蒙古自治区">内蒙古自治区</option>
            <option value="辽宁省">辽宁省</option>
            <option value="吉林省">吉林省</option>
            <option value="黑龙江省">黑龙江省</option>
            <option value="上海市">上海市</option>
            <option value="江苏省">江苏省</option>
            <option value="浙江省">浙江省</option>
            <option value="安徽省">安徽省</option>
            <option value="福建省">福建省</option>
            <option value="江西省">江西省</option>
            <option value="山东省">山东省</option>
            <option value="河南省">河南省</option>
            <option value="湖北省">湖北省</option>
            <option value="湖南省">湖南省</option>
            <option value="广东省">广东省</option>
            <option value="广西壮族自治区">广西壮族自治区</option>
            <option value="海南省">海南省</option>
            <option value="重庆市">重庆市</option>
            <option value="四川省">四川省</option>
            <option value="贵州省">贵州省</option>
            <option value="云南省">云南省</option>
            <option value="西藏自治区">西藏自治区</option>
            <option value="陕西省">陕西省</option>
            <option value="甘肃省">甘肃省</option>
            <option value="青海省">青海省</option>
            <option value="宁夏回族自治区">宁夏回族自治区</option>
            <option value="新疆维吾尔自治区">新疆维吾尔自治区</option>
            <option value="台湾省">台湾省</option>
            <option value="香港特别行政区">香港特别行政区</option>
            <option value="澳门特别行政区">澳门特别行政区</option>
        </select>
    </div>
    <div class="form-group">
        <button type="button" onclick="searchUser()" class=" btn btn-primary btn-sm glyphicon glyphicon-search" value="">开始查询</button>
    </div>
</form>
            </div>
<!--tab表格-->
<div class="table-box-list">
    <table class="table table-hover" id="hospitalTable"></table>
</div>
    </div>
</div>
</div>
</body>
<script>
    //页面初始化
    $(function(){
        initHospitalTable();

    })
    //查询医院大全数据
    function initHospitalTable(){
        $("#hospitalTable").bootstrapTable({
            url:"/findHospitalList",
            toolbar:"#toolbar",
            //search:true,//是否显示搜索框
            //searchText:'试试',//初始化搜索文字
            showColumns:false,//是否显示 内容列下拉框
            showToggle:false,//是否显示 切换试图（table/card）按钮
            showPaginationSwitch:false,//是否显示 数据条数选择框
            showRefresh:false,//是否显示刷新按钮
            detailView:false,//设置为 true 可以显示详细页面模式。
            showFooter:false,//是否显示列脚
            clickToSelect: true, //是否启用点击选中行
            striped:true,//斑马线
            queryParams:function(){
                return{
                    hospitalName:$("#hospitalName").val(),
                    site:$("#site").val()
                }
            },
            columns:[
                {field:'hospitalName',title:"医院名称"},
                {field:'site',title:'地址'},
                {field:'contactWay',title:'联系方式'},
                {field:'hospitalLevel',title:'医院等级'}
            ]
        })
    }
</script>
</html>