<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xb.mapper.DemoMapper">
    <select id="queryDrug" resultType="com.xb.model.Drug">
        select * from j_drug
    </select>

    <select id="queryDrugType" resultType="com.xb.model.DrugType" parameterType="int">

     SELECT jdt.name from j_drug jd
 LEFT JOIN j_drug_type jdt on jdt.drugid=jd.zhutype
 where jd.id=#{id}

    </select>

    <select id="queryDrugType2" resultType="com.xb.model.DrugType" parameterType="int">

     SELECT * from j_drug_type  where drugid=#{id}
    </select>
    <select id="queryMySql" resultType="com.xb.model.MySqls" parameterType="int">

     SELECT * from j_drug_name where drugid=#{id}
    </select>
    <select id="queryDrugName" resultType="com.xb.model.DrugName" parameterType="int">

     SELECT * from j_drug_name where id=#{id}
    </select>
<update id="shoucang"  parameterType="int">
    SELECT * from j_drug_name where drugid=#{id}
    update j_drug_name j set j.typeid=100 where j.id={#id}
</update>

</mapper>