<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Title</title>
    <script src="/js/jquery.min.js"></script>
    <!-- 引入bootstrap的css、js -->
    <link href="/js/bootstrap-table/bootstrap-table.css">
    <script type="text/javascript" src="/js/bootstrap-table/bootstrap-table.js"></script>
    <script src="/js/bootstrap-bootbox/bootbox.js"></script>
    <link rel="stylesheet" href="/bootstrap3/css/bootstrap.css">
    <script type="text/javascript" src="/bootstrap3/js/bootstrap.js"></script>
    <script src="/js/bootstrap-treeview/bootstrap-treeview.min.js"></script>
    <script src="/js/bootStrap-addTabs/bootstrap.addtabs.min.js"></script>
    <link rel="stylesheet" href="/js/bootStrap-addTabs/bootstrap.addtabs.css">
</head>
<body>

    <table id="bookTable"></table>
11
</body>
    <script type="text/javascript">
        $(function () {
            initUserTable();//初始化用户表格数据
        })
        function initUserTable() {
            $('#bookTable').bootstrapTable({
                url: "/query/userquery",
                queryParams: function () {
                    return {};
                },
                columns: [
                    {field:'123',checkbox:true},
                    {field:'id',title:'id'},
                    {field:'component',title:'主要成分'},
                    {field:'shape',title:'性状'},
                    {field:'function',title:'主治功能 '},
                    {field:'reaction',title:'不良反应'},
                    {field:'taboo',title:'禁忌'}
                ]
            });
        }

    </script>
</html>