<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xb.mapper.XbMapper">

    <select id="finduserPage" parameterType="com.xb.model.DetailsBean" resultType="com.xb.model.DetailsBean">
      select  * from  h_details
    </select>

<!--详情查询-->
    <select id="xqdetails" parameterType="com.xb.model.Xqdetails" resultType="com.xb.model.Xqdetails">
      select  * from  xs_details
    </select>
    <!--团购查询-->
    <select id="tgdetails" parameterType="com.xb.model.Tgdetails" resultType="com.xb.model.Tgdetails">
      select  * from  tg_details
    </select>
    <!--积分查询-->
    <select id="jfdetails" parameterType="com.xb.model.Jfdetails" resultType="com.xb.model.Jfdetails">
      select  * from  jf_details
    </select>


    <select id="mzdetails" parameterType="com.xb.model.Mzdetails" resultType="com.xb.model.Mzdetails">
      select  * from  mz_details
    </select>
    <!--详情查询-->
    <select id="xiangqing" parameterType="com.xb.model.XiangDetails" resultType="com.xb.model.XiangDetails">
      select  * from  xq_XiangDetails
    </select>

    <!--详情查询-->
    <select id="xiangqing1" parameterType="int" resultType="com.xb.model.XiangDetails">
      select  * from  xq_XiangDetails where id=#{value}
    </select>
</mapper>