<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xb.mapper.ShopMapper">

    <select id="findall" parameterType="int" resultType="model.ShopModel">
         select * from t_wanwan where id =#{value}
    </select>

    <select id="queryShop" parameterType="int" resultType="model.ShopModel">
         select * from j_drug_name where id =#{value}
    </select>

    <select id="findDrugCount" resultType="int" parameterType="model.ShopModel">
        select count(*) from j_drug_name
        <!--<include refid="where"></include>-->
    </select>

    <select id="findDrugList" resultType="model.ShopModel">
        select * from j_drug_name
        <!--<include refid="where"></include>-->
        limit #{start},#{rows}
    </select>
    <update id="updateCar">
        update j_drug_name set shulian =#{shulian} where id = #{id}
    </update>

    <select id="findDrugById" parameterType="int" resultType="model.ShopModel">
        select * from j_drug_name where id=#{goodsId}
    </select>


</mapper>